.App {
  text-align: center;
  height:100vh;
  width:100vw;
  overflow:none;
  display:flex;
  flex-direction: row;
}

.heart {
  width:20vw;
  height:40vw;
}

.body {
  text-align: left;
  user-select: none;
}

.bpm {
  border-radius: 1%;
  border-color: black;
  border-style: solid;
}

.now-playing {
  padding-bottom: 100%;
}

.skill-container {
  display:flex;
  flex-direction: column;
}

.playing-container {
  display:flex;
  flex-direction: column;

  left:5vw;
  bottom:7vh;
  position: absolute;
}

.upgrades-container {
  display:flex;
  flex-direction:column;
  right:10vw;
  position:absolute;
}

.skill-button {
  padding: 10px 40px;
}

.game-container {
  display:flex;
  flex-direction:column;
  right:30vw;
  position:absolute;
}

.list-container {
  display:flex;
  flex-direction:column;
  margin-left:auto; 
  margin-right:0;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.vert-align {
  position: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
